@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
}

body {
    background-color: #202020;
    overflow-x: hidden;
}

.lazy-load-image-background {
    width: 100%;
}

@layer components {
    .default-section-padding {
        @apply px-4 py-16 lg:px-8
    }

    .title {
        @apply font-semibold text-md tracking-wider text-primary-white
    }

    .heading {
        @apply font-semibold tracking-wider text-4xl text-primary-white text-center lg:text-start
    }
}