@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1;100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
}

body {
    background-color: #2a0800;
}

@layer components {
    .browse-nav {
        @apply cursor-pointer relative text-primary-black tracking-wider hover:text-primary-bg-black 
        /* after */
        after:absolute after:bg-primary-bg-black after:h-[3px] after:w-[0%] after:left-0 after:-bottom-[5px] 
        after:rounded-xl after:duration-300 
        /* hover after */
        hover:after:w-[100%]
    }
}